{% extends "root.html" %}

{% block nav %}
    <nav class="navbar bg-secondary mb-4">
        <div class="container-fluid">
            <h1>Validación de Presentaciones</h1>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2">
                        <label for="id_presentacion" class="form-label">Buscar por Presentación ID</label>
                        <input type="number" class="form-control" id="id_presentacion" name="presentacion_id">
                    </div>
                    <button id="searchByID" type="button" class="btn btn-primary mb-3">Buscar</button>
                    <p>Datos de la presentación</p>
                    <ul class="list-group" id="list_presentacion">
                    </ul>
                    <hr>
                </div>
                <div class="col-md-6">
                    <div class="mb-2">
                        <label for="id_transaccion" class="form-label">Buscar por Hash de Transacción</label>
                        <input type="text" class="form-control" id="id_transaccion" name="transaccion_id">
                    </div>
                    <button id="searchByHash" type="button" class="btn btn-primary mb-3">Buscar</button>
                    <p>Datos de la transacción</p>
                    <ul class="list-group" id="list_transaccion">
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" id="btn-clean">Limpiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        $(document).ready(function () {
            function ajaxPOST(url, data, success) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: data,
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: success
                });
            }

            $('#searchByID').click(function () {
                ajaxPOST(window.location.href, {
                    'action': 'searchByID',
                    'id': $('#id_presentacion').val()
                }, function (response) {
                    if (response.status === "ok") {
                        // Armar la lista de datos
                        let list = $('#list_presentacion');
                        list.empty();
                        $.each(response.data, function (key, value) {
                            list.append('<li class="list-group-item"><b>' + key + '</b>: ' + value + '</li>');
                        });
                    } else {
                        alert(response.message);
                    }
                });
            });

            $('#searchByHash').click(function () {
                ajaxPOST(window.location.href, {
                    'action': 'searchByHash',
                    'hash': $('#id_transaccion').val()
                }, function (response) {
                    if (response.status === "ok") {
                        // Armar la lista de datos
                        let list = $('#list_transaccion');
                        list.empty();
                        $.each(response.data, function (key, value) {
                            list.append('<li class="list-group-item"><b>' + key + '</b>: ' + value + '</li>');
                        });
                    } else {
                        alert(response.message);
                    }
                });
            });

            $('#btn-clean').click(function () {
                $('#id_presentacion').val('');
                $('#id_transaccion').val('');
                $('#list_presentacion').empty();
                $('#list_transaccion').empty();
            });
        });
    </script>
{% endblock %}