{% extends "root.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Municipio:</strong> {{ presentacion.rendicion.municipio }}</p>
                    <p><strong>Año:</strong> {{ presentacion.rendicion.anio }}</p>
                    <p><strong>Periodo:</strong> {{ presentacion.rendicion.periodo }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Vencimiento:</strong> {{ presentacion.rendicion.fecha_vto_presentacion }}</p>
                    <p><strong>Nro. Presentación:</strong> {{ presentacion.nro_presentacion }}</p>
                    <p><strong>Id. Unico Presentación:</strong> {{ presentacion.pk }}</p>
                </div>
            </div>
            <hr>
            <p>Archivos subidos</p>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class=" table-light">
                    <tr>
                        <th scope="col">Documento</th>
                        <th scope="col">Archivo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for doc in presentacion.documento_set.all %}
                        <tr>
                            <td>{{ doc.documento_requerido }}</td>
                            <td>{{ doc.nombre_archivo }}</td>
                            <td>
                                <a href="{{ doc.archivo.url }}" target="_blank"
                                   class="btn btn-outline-secondary">
                                    <i class="bi bi-download"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <a href="{% url 'rendicion_detail' presentacion.rendicion.pk %}" class="btn btn-secondary">
                            Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
