{% extends "root.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Municipio:</strong> {{ presentacion.rendicion.municipio }}</p>
                    <p><strong>Año:</strong> {{ presentacion.rendicion.anio }}</p>
                    <p><strong>Periodo:</strong> {{ presentacion.rendicion.periodo }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Vencimiento:</strong> {{ presentacion.rendicion.fecha_vto_presentacion }}</p>
                    <p><strong>Nro. Presentación:</strong> {{ presentacion.nro_presentacion }}</p>
                </div>
            </div>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="id_documento_requerido"
                                   class="form-label">{{ form.documento_requerido.label }}</label>
                            {{ form.documento_requerido }}
                            {{ form.documento_requerido.errors }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="id_archivo">{{ form.archivo.label }}</label>
                            {{ form.archivo }}
                            {{ form.archivo.errors }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            <hr>
            <!-- Tabla con los archivos cargados -->
            <p>Archivos subidos</p>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class=" table-light">
                    <tr>
                        <th scope="col">Documento</th>
                        <th scope="col">Archivo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for doc in presentacion.documento_set.all %}
                        <tr>
                            <td>{{ doc.documento_requerido }}</td>
                            <td>{{ doc.nombre_archivo }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-danger btn-delete" value="{{ doc.pk }}">
                                    <i class="bi bi-trash"></i>
                                </button>
                                <a href="{{ doc.archivo.url }}" target="_blank"
                                   class="btn btn-outline-secondary">
                                    <i class="bi bi-download"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-presentar">Presentar</button>
                        <a href="{% url 'core:rendicion_list' %}" class="btn btn-secondary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        $(document).ready(function () {
            function ajaxPOST(url, data, success) {
                let csrftoken = '{{ csrf_token }}';
                $.ajax({
                    url: url,
                    type: "POST",
                    data: data,
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: success
                });
            }

            $('.btn-delete').click(function () {
                var pk = $(this).val();
                ajaxPOST(window.location.href, {
                    'action': 'delete',
                    'pk': pk
                }, function (response) {
                    if (response.status === "ok") {
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                });
            });

            $('.btn-presentar').click(function () {
                ajaxPOST(window.location.href, {
                    'action': 'presentar',
                    'pk': '{{ presentacion.pk }}'
                }, function (response) {
                    if (response.status === "ok") {
                        alert(response.message);
                        window.location.href = response.url;
                    } else {
                        alert(response.message);
                    }
                });
            });
        });

    </script>
{% endblock %}